/**************/
/*    MAIN    */
/**************/

#container {
  width: 65%;
  margin: 4rem auto;
  max-width: 1240px;
}

#menu_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 65%;
  max-width: 1240px;
  height: 2.5rem;
  padding-top: 1.5rem;
  border-bottom: 2px solid black;
  background-color: white;
}

#menu_textbox{
  width: 0;
  transition: width .5s ease;
  text-align: center;
}

#menu_bar:hover > #menu_textbox{
  width: 100%;
}

img {
  width: 100%;
}

/********************/
/*    TYPOGRAPHY    */
/********************/

@font-face {
  font-family: 'Unica-Bold';
  font-weight: bold;
  src: url('./_fonts/');
  src: url('./_fonts/?#iefix') format('embedded-opentype'),
    url('./_fonts//37ABDE_0_0.woff2') format('woff2'),
    url('./_fonts//37ABDE_0_0.woff') format('woff'),
    url('./_fonts//37ABDE_0_0.ttf') format('truetype'),
    url('./_fonts//37ABDE_0_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'Unica-BoldItalic';
  font-weight: bold;
  font-style: italic;
  src: url('./_fonts//37ABDE_1_0.eot');
  src: url('./_fonts//37ABDE_1_0.eot?#iefix') format('embedded-opentype'),
    url('./_fonts//37ABDE_1_0.woff2') format('woff2'),
    url('./_fonts//37ABDE_1_0.woff') format('woff'),
    url('./_fonts//37ABDE_1_0.ttf') format('truetype'),
    url('./_fonts//37ABDE_1_0.svg#wf') format('svg');
}

h1, h2, h3, h4, p, a {
  font-family: "Unica-Bold", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  font-kerning: normal;
  margin: 0;
}

em {
  font-family: "Unica-BoldItalic", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  font-kerning: normal;
  font-style: italic;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: -1.75px;
  line-height: 0.975;
}

.main_nav p, .main_nav a {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  line-height: 1.05;
}

.work_description h2, .work_tags h2, #menu_bar p {
  font-size: 1.45rem;
  letter-spacing: -0.5px;
  line-height: 1.18;
}

.work_description h2:not(:first-child) {
  margin-top: 1.5rem;
}

.work_caption p {
  font-size: 1rem;
  letter-spacing: 0.125px;
  line-height: 1.18;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-style: italic;
}


/********************/
/*    NAV & WORK    */
/********************/

.main_nav, .work_header, .work_description, .work_tags {
  border-top: 2px solid black;
}

.main_nav:last-child, .work_description, .work_tags {
  border-bottom: 2px solid black;
}

.main_nav {
  padding-top: 1.125rem;
  padding-bottom: 1.5rem;
}

.work_header {
  padding-top: 1.6rem;
  padding-bottom: 3rem;
}

.work_description, .work_tags {
  padding-top: 1.25rem;
  padding-bottom: 1.75rem;
}

.image_group {
  margin-top: 4.5rem;
  margin-bottom: 6rem;
}

.work_caption {
  margin-top: 1rem;
}


/*************/
/*    ROW    */
/*************/

.row_sleeve {
  overflow: hidden;
}

.row {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
/* 
.row:hover {
  margin-left: calc(8.125% * 2 + 10%);
}

.row:hover > .project {
  text-align: center;
}

.row:hover > .client, .row:hover > .category{
  width: 0;
}

.row:hover > .client {
  margin-left: calc(8.125% * 2 + 10%)
} */

/*************/
/*  COLUMNS  */
/*************/

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8 {
  margin-right: 4.5%;
  display: inline-block;
}

.col1 {
  width: 8.125%;
}

.col2 {
  width: calc(8.125% * 2 + 5%);
}

.col3 {
  width: calc(8.125% * 3 + 5% * 2);
}

.col4 {
  width: calc(8.125% * 4 + 5% * 3);
}
.col5 {
  width: calc(8.125% * 5 + 5% * 4);
}
.col6 {
  width: calc(8.125% * 6 + 5% * 5);
}
.col7 {
  width: calc(8.125% * 7 + 5% * 6);
}

.col8 {
  margin-right: 0;
}

.col1:last-child, .col2:last-child, .col3:last-child, .col4:last-child,
.col5:last-child, .col6:last-child, .col7:last-child, .col8 {
  margin-right: 0;
}